@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Young+Serif&display=swap');

* {
    box-sizing: border-box;
}

/* Main styling*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    background-image: url(/assets/images/space-background.webp);
}

/* Score section styling*/
#result {
    flex: 1 100%;
    text-transform: uppercase;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Young Serif', serif;
}

#round-message,
#score {
    text-align: center;
    color: whitesmoke;
}

#score {
    font-size: 3em;
    margin-bottom: 10px;
}

/* Player's area styles */
.players {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px 25px;
    border: 2pm solid whitesmoke;
    text-transform: uppercase;
}

.selected-choice,
.name,
.available-choices {
    display: inline-flex;
    flex: 1 100%;
    padding: 15px 0;
}

.selected-choice,
.name {
    justify-content: center;
}

.name {
    font-size: 1.8em;
    color:whitesmoke;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Young Serif', serif;
}

/* Choices area styles */
.available-choices {
    justify-content: space-between;
}

.choice {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 3px;
    cursor: pointer;
}

.choice:active {
    border-color: blue;
}

.choice:hover > img {
    transform: scale(1.2);
}

.choice > img {
    width: 70%;
    transition: all 0.2s ease;
}

.selected-choice > .choice {
    width: 150px;
    height: 150px;
}

/* Start again button */
.reset-btn {
    display: inline-flex;
    flex: 1 100%;
    justify-content: center;
    margin-top: 20px;
}

.reset-btn > span {
    font-size: 1.8em;
    cursor: pointer;
    padding: 10px 15px;
    background-color: rgba(46, 56, 146, 0.37);
    box-shadow: 0 0 3px;
    color: #fff;
    transition: all 0.2 ease;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Young Serif', serif;
    font-size: 24px;
}